html {
    margin: 0;
    padding: 0;
}
body{
    background-color: #222222;
}

span {
    display: block;
}
.navbar{
   display: flex;
   justify-content: center; 
   align-items: center;
   padding: 10px;
   
}

.nav-button {
    border-radius: 20px;
    border: solid black 2px;
    display: inline-block;
   margin: 0 5px 0 0;
}
.nav-button a{
    text-decoration: none;
    color: blueviolet;
    font-weight: bolder;
    font-size: 16px;
}
.canvas {
    margin: 100px auto 100px;
    width: 80%;
    text-align: center;
}

.button {
    width: 100px;
    height: 100px;
    border: solid black 2px;
    display: inline-block;
}

.btn{
    font-size: 20px;
    font-weight: 700;
    border-radius: 10px;
    background-color: rgb(252, 6, 6);
}

#grey {
    background: grey;
}

#white {
    background: white;
}

#blue {
    background: blue;
}

#yellow {
    background: yellow;
}